<%= form_for @word, url: word_path(@word) do |f| %>
  <%= f.hidden_field :vocabulary_id, value: @vocabulary_id %>
  <div class="form-group">
    <%= f.label :word, class: "hidden" %>
    <%= f.text_field :word, class: "form-control", placeholder: "단어의 뜻을 입력하여 주세요."%>
  </div>
  <div class="form-group">
    <%= f.label :meaning, class: "hidden" %>
    <%= f.text_field :meaning, class: "form-control", placeholder: "단어의 뜻을 입력하여 주세요."%>
  </div>
  <div class="form-group">
    <%= f.label :sentence, class: "hidden" %>
    <%= f.text_field :sentence, class: "form-control", placeholder: "단어와 관련된 문장을 입력하여 주세요."%>
  </div>
  <div class="form-group">
    <%= f.label :sentence_meaning, class: "hidden" %>
    <%= f.text_field :sentence_meaning, class: "form-control", placeholder: "문장의 뜻을 입력하여 주세요."%>
  </div>
  <div class="pull-right">
    <%= link_to "Cancel", vocabulary_path(@vocabulary_id), class: "btn btn-default" %>
    <%= f.submit "OK", class: "btn btn-success" %>
  </div>
<% end %>