
<% unless @overlap_word_informaitons.nil? %>
  <%= form_for :word, url: overlap_words_path do |f| %>
    <div class="form-group">
      <%= f.label :word, class: "hidden" %>
      <%= f.text_field :word, class: "form-control", style: "disable: disabled", value: @overlap_word_informaitons[0].word %>
    </div>
    <div class="form-group">
      <%= f.label :meaning, class: "hidden" %>
      <%= f.text_field :meaning, class: "form-control", value: @overlap_word_informaitons[0].meaning %>
    </div>
    <div class="form-group">
      <%= f.label :sentence, class: "hidden" %>
      <%= f.text_field :sentence, class: "form-control", value: @overlap_word_informaitons[0].sentence %>
    </div>
    <div class="form-group">
      <%= f.label :sentence_meaning, class: "hidden" %>
      <%= f.text_field :sentence_meaning, class: "form-control", value: @overlap_word_informaitons[0].sentence_meaning %>
    </div>
    <div class="pull-right">
      <%= link_to "Cancel", :back, class: "btn btn-default" %>
      <%= f.submit "OK", class: "btn btn-success" %>
    </div>
  <% end %>


  <% @overlap_word_informaitons[1..@overlap_word_informaitons.length].each do |word|%>
    <div>
      <h3 data-word ><%= word.word %></h3>
      <span data-meaning >(<%= word.meaning %>)</span>
      <span data-sentence ><%= word.sentence %></span>
      <span data-sentence-meaning><%= word.sentence_meaning %></span>
    </div>
  <% end %>
<%else %>
  동일 단의어의 다른 의미를 가지는 단어가 없습니다.

  <%= link_to '확인', folders_path, class: 'btn btn-success' %>
  </div>
<%end %>