<%= form_for :vocabulary, url: vocabularies_path do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "hidden" %>
    <%= f.text_field :title, class: "form-control", placeholder: "단어장의 이름을 입력하여 주세요."%>
  </div>
  <div class="pull-right">
    <%= link_to "Cancel", vocabularies_path, class: "btn btn-default" %>
    <%= f.submit "OK", class: "btn btn-success" %>
  </div>
<% end %>