<div class="row vocabulary-header">
  <div class="pull-left">
    <input id="test_count" type="number" value="10">
    <input id="vocabulary_id" type="hidden" value="<%= @vocabulary.id %>">
    <button id="test_count" class="btn btn-default">선택 단어수 테스트</button>
    <%= link_to '현재 단어장만 단어 테스트', words_path(vocabulary_id: @vocabulary.id), class: 'btn btn-default' %>
    <%= link_to '현재 모든 단어 암기하기', memorize_all_words_path(vocabulary_id: @vocabulary.id), class: 'btn btn-default' %>
    <%= link_to '현재 모르는 단어만 암기하기', memorize_words_path(vocabulary_id: @vocabulary.id), class: 'btn btn-default' %>
    <script>
      $('#vocabulary_id').on('click', function() {
        const count = $('#test_count').val();
        const vocabularyId = $('#vocabulary_id').val();
        window.href=`/words?vocabulary_id=${count}&count=${count}`;
      });
    </script>

    <h4><%= @vocabulary.name %></h4>
    <span>단계별 일차 : [0, 1, 2, 4, 8, 16, 32, 64]</span>
  </div>
  <div class="button-group pull-right">
    <%= link_to '+', new_word_path(vocabulary_id: @vocabulary.id), class: 'btn btn-default'%>
  </div>
</div>
<div class="row">
</div>
<div class="row">

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Word</th>
        <th>Meaning</th>
        <th>Sentence</th>
        <th>Sentence - meaning</th>
        <th>State</th>
        <th>Stage</th>
        <th>설정</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @words.each do |word|%>
        <tr>
          <th><%= i = i + 1%></th>
          <td><%= word.word %></td>
          <td><%= word.meaning %></td>
          <td><%= word.sentence %></td>
          <td><%= word.sentence_meaning %></td>
          <td><span class="bullet" style="background-color: <%= word.state %>;"></span></td>
          <td><%= word.stage %>단계</td>
          <td>
            <%= link_to '', word_path(word, @vocabulary.id), class: 'glyphicon glyphicon-edit
                '%>
            <%= link_to '', word_path(word),
                  method: :delete,
                  data: { confirm: '단어를 삭제하시겠습니까?' }, class: 'glyphicon glyphicon-trash' %>
          </td>
        </tr>      
      <% end %>
    </tbody>
  </table>
</div>


